<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ys.ocean.mapper.MemberMapper">

	<select id="memberGetList" resultType="MemberVO">
		SELECT * FROM MEMBER
		ORDER
		BY REG_DATE DESC
	</select>

	<!-- 회원 정보 발주 -->
	<select id="memberAllFind" resultType="MemberFindVO">
		SELECT a.* , b.*
		FROM
		MEMBER a, OORDER b
		WHERE 1 = 1
		AND a.m_num = b.m_num(+)
		AND a.m_num =
		#{m_num}
	</select>

	<!-- 회원들 숫자 -->
	<select id="memberCount" resultType="map">

		SELECT COUNT(1) as total
		,COUNT(DECODE(e_id,NULL,1,NULL)) as nullT
		,COUNT(1) -
		COUNT(DECODE(e_id,NULL,1,NULL)) as mm
		FROM MEMBER
	</select>

	<!-- 배정된 직원이 없는 회원들 -->
	<select id="memberNon" resultType="MemberVO">
		SELECT * FROM MEMBER
		WHERE E_ID
		IS NULL
	</select>

	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO
		MEMBER(M_NUM,M_NAME,PHONE,REG_DATE)
		VALUES
		(
		#{m_num}
		,#{m_name}
		,#{phone}
		,SYSDATE
		)
	</insert>


	<!-- 직원 디비 조회 -->
	<select id="bindEmployee" resultType="EmployeeVO">
		SELECT * FROM EMPLOYEE
	</select>

	<!-- 배치된 인원 업데이트 -->
	<update id="disMemberUpdate" parameterType="hashmap">
		<foreach collection="params" item="param" separator=";"
			open="DECLARE BEGIN" close="; END;">
			UPDATE MEMBER
			SET
			E_ID = #{employee}
			WHERE
			M_NUM = #{param}
		</foreach>
	</update>

	<!-- 발주처리 -->
	<insert id="insertBal" parameterType="Oorder">
		INSERT INTO
		OORDER
		(
		O_CODE
		,CAR_TYPE
		,MONTH_NUM
		,CREDIT_WORTH
		,C_OPTION
		,PRICE
		,FEE_PER
		,ADD_PRICE
		,ORDER_DATE
		,CAPITAL
		,FIRST_PAYMENT
		,M_NUM

		)
		VALUES(
		#{o_code}
		,#{car_type,jdbcType=VARCHAR}
		,#{month_num,jdbcType=INTEGER}
		,#{credit_worth,jdbcType=INTEGER}
		,#{c_option,jdbcType=VARCHAR}
		,#{price,jdbcType=INTEGER}
		,#{fee_per,jdbcType=INTEGER}
		,#{add_price,jdbcType=INTEGER}
		,SYSDATE
		,#{capital,jdbcType=VARCHAR}
		,#{first_payment,jdbcType=INTEGER}
		,#{m_num,jdbcType=VARCHAR}
		)

		<selectKey keyProperty="m_num" resultType="String"
			order="AFTER">
			SELECT M_NUM FROM MEMBER WHERE M_NUM = #{m_num}
		</selectKey>
	</insert>

	<!-- 발주처리에 따른 맴버 상태 업데이트 -->
	<update id="updateState" parameterType="hashmap">
		UPDATE MEMBER
		<![CDATA[
		SET M_ORDER = '발주'
		]]>
		WHERE M_NUM = #{m_num}

		<selectKey keyProperty="e_id,price" resultType="Oorder"
			order="AFTER">
			SELECT a.e_id,NVL(b.price,0) price
			FROM MEMBER a , OORDER b
			WHERE 1 = 1
			AND
			a.m_num = b.m_num
			and a.m_num = #{m_num}
		</selectKey>
	</update>

	<!-- 발주처리후 실적 쌓기 -->
	<update id="updateOrderPrice" parameterType="hashmap">
		UPDATE EMPLOYEE
		<![CDATA[
		SET PAYMENT = PAYMENT + #{price}
		]]>
		WHERE E_ID = #{e_id}
	</update>

</mapper>